.entries_table {
    /* nop; */
}

.entries_athlete_header {
    border: 1px solid black;
}

.table_header_left {
    border-right: 0;
}

.table_header_middle {
    border-left: 0;
    border-right: 0;
}

.table_header_right {
    border-left: 0;
}

.entries_athlete_time {
    /* border: 1px solid rgb(220, 220, 220); */
}

.entries_event {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-right: 2em;
}

.entries_athlete_not_approved {
    text-decoration: line-through;
}

.entries_time {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-right: 2em;
}

.entries_event_delimiter {
    height: 1em;
}

.approval_approved_status {
    color: lime;
}

.approval_rejected_status {
    color: red;
}

.race_finished_status {
    color: lime;
}

.race_in_progress_status {
    color: red;
}

.race_not_started_status {
    color: gray;
}