<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1>$meetRegister.Meet.Name<h1>
	<h5>$meetRegister.Meet.startDate, $meetRegister.Meet.Pool.Name, $meetRegister.Meet.Pool.Location</h5>

	#foreach ($startList in $meetRegister.StartLists)
		<h3>$startList.Event.Discipline.Name, $startList.Event.Discipline.Distance,
		$startList.Event.Discipline.Gender</h3>

		<table border="1" cellpadding="3" cellspacing="1" rules="rows" frame="hsides">

		#foreach ($heat in $startList.Heats)
			<tr>
			<td rowspan="$meetRegister.Meet.Pool.LanesCount" style="padding-right: 10px;">$velocityCount</td>
				#foreach ($lane in $meetRegister.Meet.Pool.Lanes)
					<td style="padding-right: 10px;">$lane.Number</td>
					#if ($heat.isLaneOccupied($lane))
						#set($application = $heat.getApplicationByLane($lane))
						<td>$application.Participant.Name</td>
                        <td>${application.AgeGroup.MinAge}-${application.AgeGroup.MaxAge}</td>
						<td style="padding-right: 20px;">$application.Participant.BirthYear</td>
						<td>$application.DeclaredTime</td>
					#end
                    </tr><tr>
				#end
			</tr>
            <tr><td>&nbsp;</td></tr>
		#end
		</table>
	#end
    <p>&copy; 2010 Swimmasters</p>
</body>
</html>

